body{
  width: 0;
  height: 0;
}
.canchaGrande{
  position: absolute;
  width: 840px;
  height: 440px;
  background-color: #8CB27D;
}
.canchaMediana{
  position: absolute;
  width: 819px;
  height: 419px;
  background-color: #8CB27D;
  top: 9.1px;
  left: 9.1px;
  border: 2px solid white;
}
#arco01{
  position: absolute;
  display: inline;
  width: 142px;
  height: 142px;
  background-color: #8CB27D;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  top: 135px;
}
#arco02{
  position: absolute;
  display: inline;
  width: 142px;
  height: 142px;
  background-color: #8CB27D;
  border: 2px solid white;
  top: 135px;
  left: 674.9px;
}
#pelota01{
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  left: 135px;
  top: -2.8px;
}
#pelota02{
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  left: -7px;
  top: 135px;
}
#pelota03{
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  left: 349px;
  top: 87.5px;
}
#areaCirculo{
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: green;
  border-radius: 50%;
  border: #fff;
  left: 396px;
  top: 168px;
}
